
{% block content %}
<div class="container mt-5 mb-5">
    <h2 class="mb-4">Оформление заказа</h2>

    <div class="card p-4 shadow-sm">
        <form action="{% url 'order_success' %}" method="get">
        <!-- Список товаров -->
        <h5 class="mb-3">Заказ:</h5>
        <ul class="list-group mb-4">
            <li class="list-group-item d-flex justify-content-between">
                <span>{{ drink.name }}</span>
                <strong>{{ drink.price }}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Итого</span>
                <strong>{{ drink.price }}</strong>
            </li>
        </ul>

        <!-- Форма доставки -->
        <h5 class="mb-3">Адрес доставки</h5>
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Имя и фамилия">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Адрес (улица, дом, квартира)">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Город">
            </div>
            <div class="mb-3">
                <input type="tel" class="form-control" placeholder="Телефон">
            </div>

            <!-- Оплата -->

            <h5 class="mb-3">Оплата</h5>
            <div class="mb-3">
                <select class="form-select">
                    <option selected>Выберите способ оплаты</option>
                    <option value="1">💳 Карта</option>
                    <option value="2">📱 Электронный кошелёк</option>
                    <option value="3">💵 Наличные при получении</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary w-100">✅ Подтвердить заказ</button>
        </form>
    </div>
</div>
{% endblock %}
